:root {
  --chat-sidebar-width: #{$chat_sidebar_width};
  --chat-sidebar-breakpoint: #{$chat_sidebar_breakpoint};
  --chat-sidebar-gap: 2em;
}

.header-dropdown-toggle.chat-prefs-icon {
  display: none;
}

body.chat-enabled.chat-sidebar-active:not(.has-full-page-chat) {
  .header-dropdown-toggle.chat-prefs-icon {
    display: block;

    & > .btn-icon {
      .d-icon-cog {
        position: absolute;
        font-size: 17px;
        color: var(--header_primary-high);
        top: 7px;
        right: -8px;
      }

      &:hover .d-icon-cog,
      &:focus .d-icon-cog {
        color: var(--header_primary-medium);
        stroke: var(--primary-900);
        stroke-width: 1em;
        stroke-opacity: 0.5;
      }
    }
  }

  #additional-panel-wrapper:has(.chat-sidebar-prefs-panel) {
    box-shadow: var(--shadow-menu-panel);

    .menu-panel.chat-sidebar-prefs-panel {
      padding: 1rem;
    }
  }

  // Hides Chat icon in header
  .header-dropdown-toggle.chat-header-icon {
    display: none;
  }

  // Hides Chat drawer resizer
  .chat-drawer-resizer {
    display: none;
  }

  // Hides Sidebar action icons
  .c-navbar {
    &__toggle-drawer-button,
    &__close-drawer-button {
      display: none;
    }
  }

  .chat-drawer {
    width: var(--chat-sidebar-width) !important;
    position: fixed;
    top: var(--header-offset);

    @if (
      $chat_sidebar_position ==
        "outside-left" or
        $chat_sidebar_position ==
        "left"
    ) {
      left: 0;
    } @else if
      (
        $chat_sidebar_position ==
          "outside-right" or
          $chat_sidebar_position ==
          "right"
      )
    {
      right: 0;
    }

    .chat-drawer-container {
      box-shadow: none;
      border-top: none;
      border-bottom: 1px solid var(--primary-low);
    }
  }

  &.chat-sidebar__left-position .chat-drawer,
  &.chat-sidebar__outside-left-position .chat-drawer {
    left: 0;
  }

  &.chat-sidebar__right-position .chat-drawer,
  &.chat-sidebar__outside-right-position .chat-drawer {
    right: 0;
  }

  @import "themes";

  // Fallback
  .chat-drawer {
    height: calc(
      100vh - var(--header-offset, 0px) - var(--composer-height, 0px)
    ) !important;
  }
}
